export("subcopem")
export("subcopemc")
export("dependence")
importFrom("grDevices", "dev.new", "heat.colors")
importFrom("graphics", "contour", "hist", "image", "par", "plot", "points", "pairs")
